$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$mainColor: #333333;
$secondColor: darkseagreen;
$thirdColor: lightgray;

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: $mainColor;
  color: $secondColor;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: $thirdColor;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  margin-left: 4px;

  .panel {
    flex: 200px 0 1;
    margin-left: 20px;
    margin-right: 20px;
    color: $mainColor;
    background: $thirdColor;

    &.showAll {
      flex-basis: 440px;
    }

    .panel-heading {
      font-weight: bold;
      background: $secondColor;
      color: $mainColor;
      display: block;
    }
    .panel-body {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    a {
      color: inherit;
    }
  }

}

.btn-contact {
  background: $secondColor;
  color: $thirdColor;
}